@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

html {
    scroll-behavior: smooth;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

.link-hover {
    a:hover,
    button:hover {
        color: #acacac
    }
}

/* shared classes for each section*/
.heading {
    font-size: 2em;
    font-family: "Roboto Mono";
    padding: 3.5em 10vw 2em;
    margin: 2em 2em 0;
    display: block;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 8em;
    margin: 2em;
}

@media (max-width: 500px){
    .heading {
        display: flex;
        justify-content: center;
    }
    .content-container {
        position: center;
    }
}

/* header + nav section */
.navbar {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    font-size: 2rem;
    padding: 1em 3em;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
}

.navbarItems {
    display: flex;
    justify-content: space-between;
    width: 475px;
    gap: 25px;
}

.menuToggle {
    display: none;
}

@media (max-width: 800px) {
    .navbarItems {
        position: fixed;
        display: flex;
        right: -200vw;
        padding: 2rem;
        width: 100vw;
        top: 7rem;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(170, 170, 170, 0.273);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.4s;

        a {
            width: 100vh;
            display: flex;
            justify-content: center;
        }

        a:hover {
            background-color: #3c3c3c1c;
            color: rgb(212, 212, 212);
        }
    }

    .navbarItems.active {
        right: 0;
        transition: 0.2s;
    }

    .menuToggle {
        display: block;
    }
}

/* hero section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero::before {
    background-image: url('../images/sunsetMtFuji.jpg');
    content: '';
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-size: cover;
    z-index: -1;
    filter: brightness(40%) blur(6px);
    background-position: center center;
}

#name {
    font-family: 'Chakra Petch';
    font-size: 4.5em;
    padding: 1em;
    text-align: center;
}

/* about section */
.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 8em;
    margin: 2em;
}

.about-text {
    width: 50%;
}

@media (max-width: 1500px) {
    .about-content {
        padding: 1em;
    }

    .about-text {
        min-width: 85vw;
        position: center;
    }
}


/* project section */
.project-card {
    width: 26em;
    min-width: 26em;
    min-height: 26em;
    border-radius: 10px;
    border-color: black;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-bottom: 2rem;
    margin: 1rem;
    box-shadow: 0 0 8px inset #0000003b;
    background-color: #272727;
}

.project-card:hover {
    background-color: rgb(70, 44, 36);
    cursor: pointer;
}

#thesis-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    border-radius: 10px;
    border-color: white;
    background-color: pink;
    padding: 2em;
    margin: 4em;
}

@media (max-width: 500px) {
    .project-card {
        min-width: 85vw;
        
    }
}

/* contact section */
.contact-form {
    width: auto;
    min-width: 400px;
    height: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 8px inset #0000003b;
    border-radius: 10px;
    background-color: #272727;

    .form-section {
        display: flex;
        flex-direction: column;
    }

    input {
        height: 2rem;
        padding: 0.5rem;
        background: rgb(26, 25, 25);
    }

    textarea {
        height: 6rem;
        background: rgb(26, 25, 25);
        padding: 0.4rem 0.6rem;
    }

    button {
        border-radius: 5px;
        border: solid;
        border-color: rgb(20, 20, 20);
        background: rgb(26, 25, 25);
        padding: 1rem;
        display: inline-block;
        width: auto;
    }

    .error {
        color: red;
    }
}

@media (max-width: 500px) {
    .contact-form {
        min-width: 60vw;
        padding: 1em;
    }
}