@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: rgb(55, 43, 108);
    color: white;
}

.hero {
    overflow: auto;
    position: relative;
    top: 45vh;

    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: column;
}

.hero::before {
    background-image: url('src/images/sunsetMtFuji.jpg');
    content: "";
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(50%) blur(3px);
}

#name {
    font-family: 'Chakra Petch';
    font-size: 4em;
}

.resume-box {
    display: flex;
    font-size: 1em;
    background-color: grey;
    gap: 0.4rem;
    padding: 12px 30px;
    margin: 2em 0 2.5em 0;
    border-radius: 30px;
}

.heading {
    font-size: 2em;
    margin-top: 2.7em;
}

#navbar {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 2rem;
    padding: 0.7em;
    background-color: transparent;
    padding: 1em 3em;
    z-index: 999;
}

a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

a:hover,
button:hover {
    color: #acacac
}

#home {
    margin-right: auto;
}

.navbarItems {
    display: flex;
    justify-content: space-between;
    width: 475px;
    gap: 25px;
}

#menuToggle {
    display: none;
    height: 1rem;
}

@media (max-width: 800px) {
    .navbarItems {
        position: fixed;
        display: flex;
        right: -100vw;
        width: 100vw;
        top: 5.1rem;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.273);
        backdrop-filter: blur(10px);
        padding: 1rem;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.8s;
    }

    .navbarItems.active {
        right: 0;
        transition: 0.2s;
    }

    #menuToggle {
        display: block;
    }
}