header {
    margin-inline: auto;
    display: flex;
    justify-content: flex-start;
    background-color: rgba(154, 68, 235, 0.485);
}

.home {
    margin-right: auto;
}

.navbar {
    display: flex;
    
}

Next step is to find out how to do this. Continue on beginning css tutorial