@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin:0%;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: lightblue;
    position: fixed;
    top: 0;
}

.home {
    margin-right: auto;
    font-size: 2rem;
}

.navbarItems {
    font-size: 2rem;
    justify-content: space-between;
}

.navbarItem {

}

@media screen and (max-width: 526px) {
    .navbarItems {
        display: none;
    }
}