@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin:0%;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: lightblue;
    position: fixed;
    top: 0;
}

.home, .navbarItems {
    font-size: 2rem;
    padding: 1.5rem;
}

.home {
    margin-right: auto;
}

/* text inside isn't space properly */
.navbarItems {
    display: flex;
    justify-content: space-between;
    min-width: 475px;
} 

@media screen and (max-width: 800px) {
    .navbarItems {
        display: none;
    }
}